body {
  margin: 1em;
  font-family: "Fira-sans", sans-serif;
}
.data {
  background: ghostwhite;
  padding: 1rem;
}
.submit {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: auto;
  background-clip: padding-box;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #ffffff;
  font-weight: 500;
  height: calc(1rem + 0.75rem + 0.75rem);
  transition: background-color 350ms, color 350ms, box-shadow 250ms,
    opacity 250ms;
  cursor: pointer;
  border-radius: 5px;
  background-color: #005ce4;
  font-family: inherit;
  text-transform: none;
  visibility: visible;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}